.button1{
background: black;
border:0px;
border-radius: 50%;
color: white;
cursor: pointer;
font-size: 1.5rem;
font-weight: bold;
height: 3rem;
opacity: 0.25;
transition: opacity 0.25s;
position: absolute;
width: 3rem;
z-index: 1;
top: 200px;
}
#previous{
    left: 353px;
}
#right{
    right:5px;
    top:50px;
}
.button1:hover{
    opacity: 0.5
}
.carousel{
    left:0px;
    align-items:flex-start;
    display:flex;
    margin: 2rem auto;
    overflow:hidden;
    position:relative;
    width:400px;
    border-radius: 6px 6px 6px 6px;
}
.shop-items{
    display:flex;
    transform: translateX(0px);
    transition: transform 00.25s;
    height: 400px;
    margin-top:15px;
    margin-bottom:25px;
    border-radius: 6px 6px 6px 6px;
    border:1px solid whitesmoke;
    background-color: white;
}
.shop-item-image{
    width: 400px;
    height:300px;
}
.button1:hover{
    opacity:0.5;
}
::selection{
    background-color: black;
    color: white;
}
.shop-item-button{
    margin-left:30px;
    margin-right:100px;
    margin-top: 10px;
    margin-bottom: 13px;
    border-radius: 4px;
    border-color:#3d83df ;
    height:30px;
    width:104px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top:3px;
    padding-bottom: 20px;
    font-size: 20px;
    font-family: arial ;
    font-weight: bold;
    color:white;
    background-color:#3d83df ;
    cursor:pointer;
}
.shop-item-price{
    font-size: 15px;
    font-family: arial ;
    font-weight: bold;
    margin-right: 60px;
}
.shop-item-title{
    display: flex;
    text-align: center;
    font-size: 25px;
    font-family: arial ;
    font-weight: bold;
    justify-content: center;
}
.shop-item{
    border-radius: 6px 6px 6px 6px;
}
.btn1{
    background:transparent;
    border:none;
    color:grey;
}
.cart-row{
    display:flex;
    justify-content: space-around;
    margin-top:0px;
    padding-top:0px;
    margin-right:0px;
    margin-left:0px;
    border:2px black hidden;
    padding-bottom:0px;
    color:white;
}
.cart-item{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin-top:0px;
    margin-right:0px;
    display:inline-flex;
    justify-content: space-around;
}
.cart-price{
    margin-top: 33px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin-right:15px;
    width: 100px;
    border: 10px  #000000;
}
.cart-quantity{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: bold;
    margin-top:18px;
    margin-left: 120px;
    margin-right: -70px;
}  
.box{
    border-top:black;
}
.cart-quantity-input{
    width:25px;
    height:25px;
}
.cart-item-title{
    padding-bottom:30px;
    margin-top: 32px;
    margin-left: 10px;
    width:170px;
    border: 10px  black;
}
.box1{
    display: flex;
    justify-content: space-around;
    margin-right:10px;
    margin-left:0px;
    border:2px black hidden;
    color:white;
    font-size: 18px;
    width: 760px;
}
.btn-danger{
    margin-left: 0px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 13px;
    border-radius: 4px;
    border-color:#3f4041 ;
    height:25px;
    width:104px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 10px;
    font-family: arial ;
    font-weight: bold;
    color:white;
    background-color:grey ;
    cursor:pointer;
}
.btn-purchase{
margin-left: 11px;
margin-right: 10px;
margin-top: 10px;
margin-bottom: 13px;
border-radius: 4px;
border-color:#3d83df ;
height:30px;
width:80px;
padding-left: 0px;
padding-right: 0px;
padding-top: 10px;
padding-bottom: 30px;
font-size:20px;
font-family: arial ;
font-weight: bold;
color:white;
background-color:#3d83df ;
cursor:pointer;
}
.minus-btn{
    width:25px;
    height:25px;
    background-color: black;
    color:blanchedalmond;
}
.plus-btn{
    width:25px;
    height:25px;
    background-color: black;
    color: blanchedalmond;
}
.box6{
    height: 40px;
    width: 100%;
    background-color: white;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-left:0px;
    margin-top:50px;
    opacity: 1;
    position: relative;
    color: orange;
    display:flex;
    justify-content: space-around;
}
.box10{
    height: 50px;
    width: 100%;
    background-color: white;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:20px;
    opacity: 1;
    position: relative;
    display:flex;
    justify-content: space-around;
}
.box11{
    height: 40px;
    width: 100%;
    background-color: white;
    margin-right:0px;
    margin-bottom:0px;
    margin-left:0px;
    padding-top:5px;
    padding-bottom: 15px;
    opacity: 1;
    position: relative;
    color: black;
    display:flex;
    justify-content: space-around;
    padding-left: 0px ;
    cursor: pointer;
    text-decoration: none;   
}
.box12{
    height: 100px;
    width: 100%;
    background-color: white;
    margin-right: -30px;
    margin-bottom:-30px;
    margin-left:-5.5px;
    padding-left:10px;
    padding-top:17px;
    margin-top:-10px;
    opacity: 0.96;
    position: fixed;
    color: orange;
    display:inline-flex;
    justify-content: space-between;
    z-index: 3;
}
.box13{
    background-color: white;
    margin-right:0px;
    margin-bottom:30px;
    margin-left: 90px;
    padding-left:0px;
    margin-top:-62px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.96;
    position: relative;
    color: orange;
}
.box14{
    background-color: white;
    margin-bottom:20px;
    padding-left:0px;
    margin-top:40px;
    font-size: 18px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.96;
    color: black;
    display: flex;
    justify-content: end;
}
.box15{
    margin-top: -20px;
    margin-right:0px;
    margin-bottom:0px;
    margin-left: 0px;
    padding-left:0px;
    padding-top:110px;
    display: flex;
    justify-content: space-between;
}
.box16{
    margin-top: 15px;
    width: 350px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;

}

.box18{
    margin-top: 25px;
    border:white dashed 3px;
    width: 300px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.box19{
   width: 350px;
   border:white dashed 3px;
   color: white;
   padding-left:10px;
   padding-right:10px;
   padding-top:0px;
   padding-bottom:0px;
}
.cart-items{
    height: 100px;
    margin-top:10px ;
}
#box20{
    color:#3d83df ; 
    display: flex;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    justify-content: flex-start;
}
#box21{
display: flex;
justify-content:flex-end;
margin-right:-30px;
margin-top: -75px;
}
/* visited link */
button:visited {
    background-color: red;
}

/* mouse over element */
button:hover {
    background-color: orangered;
} 

/* selected link */
button:active{
    background-color:yellow;
}
/* mouse over element */
.box33:hover {
    color: orangered;
} 

/* selected link */
.box33:active{
    color:yellow;
}
/* mouse over element */
.box34:hover {
    color: orangered;
} 
/* selected link */
.box34:active{
    color:yellow;
}
.box33{
    color:black;
}
.box34{
    color:black;
}
.box40{
    color: white;
    margin-top:200px;
    margin-bottom:50px;
    display:flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
.box50{
    border-radius: 4px;
    border-color:#3d83df ;
    height:30px;
    display: flex center;
    justify-content: center;
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 10px;
    padding-bottom: 30px;
    font-size:20px;
    font-family: arial ;
    font-weight: bold;
    color:white;
    background-color:#3d83df ;
    cursor:pointer;
    text-decoration: none;
    }
.box51{
    display: flex ;
    justify-content: center;
    }
#results{
    border:white dashed 3px;
    padding-left:10px;
    padding-right:10px;
    padding-top:10px;
    padding-bottom:10px;
}
.box60{
    display: flex;
    justify-content: center;
    margin-right:0px;
    margin-left:0px;
    border:2px black hidden;
    color:white;
    font-size: 18px;
    padding-left:0px;
}
.box1{
    margin-right:0px;
    margin-left:0px;
    border:2px black hidden;
    color:white;
    font-size: 18px;
    padding-left:0px;
}
.box70{
    height:170px;
    margin-bottom: 40px;
    margin-top: 0px;
}
footer{
    width: 100%;
}
header{
    width: 100%;
}
.box80{
    height: 84%;
}
.box100{
    margin-top: 10px;
}
.box110{
    display: flex;
    justify-content: flex-end;
}
.box120{
    background-color: white;
    margin-bottom:20px;
    padding-left:0px;
    margin-top:30px;
    font-size: 18px;
    font-weight:bold;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.96;
    color: black;
    display: flex;
    justify-content: end;
}
.box130{
    background-color: white;
    margin-right:0px;
    margin-bottom:20px;
    margin-left: 90px;
    padding-left:0px;
    margin-top:-62px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    opacity: 0.96;
    position: relative;
    color: orange;
}
.box150{
    height: 20px;
    width: 250px;
    border-radius: 6px 6px 6px 6px;
    background-color:rgb(214, 213, 213) ;
}
.box140{
    display: flex;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    color: orange;
    justify-content: center;
    margin-left: -50px;
}
.box160{
    display:inline-flex;
    justify-content: center;
    margin-left: 150px;
}
.box170{
    background-color: grey;
    color: grey;
}
.box180{
    margin-left: 80px;
    height: 20px;
    width: 100px;
    border-radius: 6px 6px 6px 6px;
    background-color:rgb(214, 213, 213) ;
}
.box190{
    color: orange;
}
.box200{
    width:30px;
    height:20px;
    margin-left: 110px;
    background-color:rgb(214, 213, 213) ;
}
